.DS_Store
node_modules
# // Find and open the file .gitignore located in root directory of your project.Next, find and comment the line which has the text ‘/dist’.
# // NOTE: this folder it’s ignored by default that’s why we have to comment it. --> for deploy on github
# /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# Not upload generated code coverage to git
.coverage
